
.title{text-align: center;}

.regForm{width:100%;}
.inputbox{margin:20px;}
.inputL{margin:50px;}
.inputC{margin:0 20px;}
.submitBtn{background-color:skyblue;width:300px;height:36px;margin-left:640px;font-size:20px;color:white;}