.inputCheck{
  margin:20px;
}
.inputLabel{
  margin-left:50px;
  display:inline-block;
  width:180px;
}
.inputText{
  margin:0 20px;
  width:200px;
}
.active{
  color:green;
}
.inactive{
  color:red;
}
.title{
  text-align: center;
}
.regForm{
  width:100%;
}
.submitBtn{
  background-color:skyblue;
  width:300px;
  height:36px;
  margin-left:640px;
  font-size:20px;
  color:white;
}